/* inicio body */

@font-face{
	src: url(../fonts/raleway-bold.ttf);
	font-family: "Raleway";
	font-weight: bold;
}

@font-face{
	src: url(../fonts/raleway-regular.ttf);
	font-family: "Raleway";
	font-weight: normal;
}

html,
body {
    
 	padding: 0;
    margin: 0;
    background: url(../images/fondo.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


.barra {
    background: url(../images/barra.png);
    height: 10px;
    width: 100%; 
}


.header p{
	margin:0;
	color: #666;
    font-size: 14px;
    line-height: 20px;
}
.header h2{
	margin-bottom:5px;
}
.header p{
	padding-left: 10px;
}

#central{
    position:absolute;
    top:50%;
    right: 50%;
    margin-top: -300px;
    margin-right: -105px;
	}


.header2 {
	position: absolute;
	margin-left:20px;
	bottom: 330px;

}

/*comienzo de imagenes*/

.header2 {
	    background: url(../images/fondo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
background-color: #F3F3F3;
display: none;
}

.c1 {
position: absolute;
left: 920px;
top:15px;

}

.c {
	 font-size: 13px;	 	 
	text-decoration:none;
	color: #5F5F5D;

}
.c div{
	display:inline-block;
	width: 280px;
	text-align: left;
	font-weight: normal;
}


.d{
	border:1px solid #ED7800; 
	width:200px; 
	border-radius: 5px 5px 5px 5px;
	margin:5px 10% 20px 5px; 
	padding:5px;

}


.e {
	position: relative;
	top:8px;  
	
}


.f {
	 font-size: 15px;	 	 
	text-decoration:none;
	color: #FFFFFF;
}
.f div{
	
	width: 230px;
	text-align:left;	
}


.g {
	 font-size: 15px;	 	 
	text-decoration:none;
	color: #5F5F5D;
}
.g div{
	
	width: 230px;
	text-align:left;	
}

.select{
	border:1px solid #ED7800; 
	width:200px; 
	border-radius: 5px 5px 5px 5px;
	margin:5px 10% 20px 5px; 
	padding:5px;
}

.titulo  {

	position: absolute;
	bottom: 20px;
	left: 35px; 	 
	text-decoration:none;
	color: #FFFFFF; 
}



.titulo1  {

	position: absolute;
	bottom: 20px;
	left: 50px; 	 
	text-decoration:none;
	color: #5F5F5D; 


}



.select1{
	border:1px solid #ED7800; 
	width:250px; 
	border-radius: 5px 5px 5px 5px;
	margin-top: 10px;
	margin-right: 100px; 
	padding:5px;
}



.select2{
	border:1px solid #ED7800; 
	width:200px; 
	border-radius: 5px 5px 5px 5px;
	margin-left: 40px; 
	padding:5px;
}


.star {
	position: absolute;
   top: 860px;
   left: 860px;
}

.base {
	position: relative;		
	float:  left;
}



.botonimagen{	
	margin-right: 18%;
}

.legales {
	text-align: left;
}
.legales img {
	margin-top:5px;
	
}


.star1 {
	display: none;
}

@media screen and (max-width: 500px) {
	html,
	body {
	    padding: 0;
	    margin: 0;
	    background: #F3F3F3;
	    color:#666;
	}
#central{
    position:absolute;
    top:50%;
    right: 50%;
    margin-top: -300px;
    margin-right: -200px;
	}



	.c1 {
		display: none;
	}


	.tittle img {
		width: 300px;
	}

	.logo img {
		width: 250px;
		margin-right: 30px;		
	}

	.base img {
		display: none;
	}

	.barra {
		display: none;
	}

.header2 {
		display: block;
	}
	
	.botonimagen img{
		width: 70%;
	}
	.logo-main{
		width: 100%;
		margin:15px 0;
	}


	.star1 {
		display: block;
		margin-left: 25px;
	}

}

@media screen and (max-width: 1320px){
	.c div{
		width: 80%;
		text-align: left;
		margin-left: 20px;
	}

	
	.botonimagen{
		width: 190px;
		margin-left: 20px;
		margin-top: 110px;

	}
}

@media screen and (max-width: 1320px) and (min-width: 937px){
	.botonimagen{
		width: 70%;
		margin-right:15%;
	}
}